@import '../../../assets/stylesheets/colors.scss';

.wrapper {
	padding: 10px 0;
	display: flex;
	flex-flow: column;

	> .title{ 
		margin-bottom: 10px;
		font-size: 28px;
		color: $color-dark-gray;
	}

	> .subtitle {
		font-size: 20px;
		color: $color-medium-gray;
	}
}