.changesTable {
  width: 100%;

  .change {
    font-size: 28px;
    display: flex;
    flex-flow:  column nowrap;

    .description span {
      white-space: normal;
      font-size: 14px;
      line-height: 1.3em;
    }
  }
}
